etl_template: :export
version: 2
file:
  type: std.master_accounts
  format: :pipe

description: >
  Describes a standard files and records layout for master accounts and customers books & records data export

layout:
  header:
    tag: H
    date: CCYYMMDD
    include_file_version: true
  trailer:
    tag: T
    date: CCYYMMDD
    include_file_type: true
    include_trailer_date: true
    include_record_count: true
  include_column_names: true

  files:
    - std.customers:
        file_name: customers.txt
        dataset:
          id: :bnr
          source: outbound.customers
          columns:
            include: :all
    - std.master_accounts:
        file_name: master_accounts.txt
        dataset:
          id: :bnr
          source: outbound.master_accounts
          columns:
            include: :all
    - std.account_owners:
        file_name: account_owners.txt
        dataset:
          id: :bnr
          source: outbound.account_owners
          columns:
            include: :all
    - std.account_interested_parties:
        file_name: account_interested_parties.txt
        dataset:
          id: :bnr
          source: outbound.account_interested_parties
          columns:
            include: :all
    - std.customer_financial_profile:
        file_name: customer_financial_profile.txt
        dataset:
          id: :bnr
          source: outbound.customer_financial_profile
          columns:
            include: :all
    - std.customer_investment_experience:
        file_name: customer_investment_experience.txt
        dataset:
          id: :bnr
          source: outbound.customer_investment_experience
          columns:
            include: :all
    - std.customer_assets_held_away:
        file_name: customer_assets_held_away.txt
        dataset:
          id: :bnr
          source: outbound.customer_assets_held_away
          columns:
            include: :all
    - std.customer_questions:
        file_name: customer_questions.txt
        dataset:
          id: :bnr
          source: outbound.customer_questions
          columns:
            include: :all
    - std.account_investment_objectives:
        file_name: account_investment_objectives.txt
        dataset:
          id: :bnr
          source: outbound.account_investment_objectives
          columns:
            include: :all
    - std.account_investment_purposes:
        file_name: account_investment_purposes.txt
        dataset:
          id: :bnr
          source: outbound.account_investment_purposes
          columns:
            include: :all
    - std.account_investment_strategies:
        file_name: account_investment_strategies.txt
        dataset:
          id: :bnr
          source: outbound.account_investment_strategies
          columns:
            include: :all
    - std.account_sources_of_funds:
        file_name: account_sources_of_funds.txt
        dataset:
          id: :bnr
          source: outbound.account_sources_of_funds
          columns:
            include: :all
    - std.account_questions:
        file_name: account_questions.txt
        dataset:
          id: :bnr
          source: outbound.account_questions
          columns:
            include: :all
